<!DOCTYPE html>
<html>
  <head>
    <title>HouseholdTodo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="https://kit.fontawesome.com/2bc0557d4c.js" crossorigin="anonymous" defer></script>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
